<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Spaarks</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key></key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.osos.spaarksapps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spaarks</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>For using Spaarks Call feature app requires microphone permission.
Through Spaarks Call you can make or receive internet calls from other users without sharing your phone number.</string>
	<key>NSCameraUsageDescription</key>
	<string>By allowing camera permission you will be able to upload images, videos from gallery or directly click from camera and upload in Chat and general Posts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allowing location permission will help the app to identify posts that are near you. You can customize your feed based on the distance of the posts that are nearest to you first.
Other users near your location will also be able to see your posts if you allow location permission.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>For using Spaarks Call feature app requires microphone permission.
Through Spaarks Call you can make or receive internet calls from other users without sharing your phone number.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>By allowing Photos permission you will be able to upload images, videos from gallery or directly click from camera and upload in Chat and general Posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>By allowing Photos permission you will be able to upload images, videos from gallery or directly click from camera and upload in Chat and general Posts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>For using Spaarks Call feature app requires microphone permission.
Through Spaarks Call you can make or receive internet calls from other users without sharing your phone number.</string>
</dict>
</plist>
